{{!master(layout/_master.tmpl)}}

<h1>{{{title}}}</h1>



{{#hub}}

{{#index}}
{{>partials/hubs/index}}
{{/index}}

{{#configuration}}
{{>partials/hubs/configuration}}
{{/configuration}}

{{#device}}
{{>partials/hubs/device}}
{{/device}}

{{#loadData}}
{{{conceptual}}}
{{/loadData}}

{{/hub}}



{{^hub}}

{{{conceptual}}}

{{/hub}}