{{!master(layout/_master.tmpl)}}

<h1>{{{title}}}</h1>

{{#configuration}}
  {{>partials/hardware/configuration}}
{{/configuration}}

{{#portStatus}}
  {{>partials/hardware/portStatus}}
{{/portStatus}}

{{#bno055}}
  {{>partials/hardware/bno055}}
{{/bno055}}
  
{{^configuration}}
  {{{conceptual}}}
{{/configuration}}