{{!master(layout/_master.tmpl)}}

<h1>{{{title}}}</h1>

{{#hardware}}
  {{#configuration}}
    {{>partials/hardware/configuration}}
  {{/configuration}}
  {{#device}}
    {{>partials/hardware/device}}
  {{/device}}
{{/hardware}}

{{^hardware}}
  {{{conceptual}}}
{{/hardware}}