{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}

{{!master(layout/_master.tmpl)}}

{{#isClass}}
  {{^inStruct}}
    {{>partials/class}}
  {{/inStruct}}
{{/isClass}}

{{#isEnum}}
{{>partials/enum}}
{{/isEnum}}