{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!master(layout/_master.tmpl)}}

{{^_splitReference}}
{{#isClass}}

<div>
  <h1 id="{{id}}" data-uid="{{uid}}" class="text-break" style="display:inline-block;">
    {{#inClass}}{{name.0.value}}{{/inClass}}
    {{#sourceurl}}<a class="header-action link-secondary" title="View source" href="{{sourceurl}}"><i class="bi bi-code-slash"></i></a>{{/sourceurl}}
  </h1>
  <p style="display:inline;"> 
      {{#sourceNode}} Source Operator {{/sourceNode}} 
      {{#sinkNode}} Sink Operator {{/sinkNode}} 
      {{#combinatorNode}} Combinator Operator {{/combinatorNode}}
  </p>
</div>

<div class="markdown summary">{{{summary}}}</div>
<div class="markdown level0 remarks">{{{remarks}}}</div>
<div class="markdown conceptual">{{{conceptual}}}</div>

{{#children}}
{{#nodeMethod}}

<h2>Inputs & Outputs</h2>

{{>partials/class.methods}}

{{/nodeMethod}}
{{/children}}

{{#children}}
{{#inProperty}}

<h2>Properties</h2>
<table>
  <tr>
    <th>Property</th>
    <th>Type</th> 
    <th>Description</th>
  </tr>
  {{>partials/class.properties}}
</table>

{{/inProperty}}
{{/children}}

{{/isClass}}

{{#isEnum}}

<h1 id="{{id}}" data-uid="{{uid}}" class="text-break">
  {{#inEnum}}{{name.0.value}}{{/inEnum}}
  {{#sourceurl}}<a class="header-action link-secondary" title="View source" href="{{sourceurl}}"><i class="bi bi-code-slash"></i></a>{{/sourceurl}}
</h1>

<div class="markdown summary">{{{summary}}}</div>
<div class="markdown level0 remarks">{{#remarks}}{{{remarks}}}{{/remarks}}</div>
<div class="markdown conceptual">{{{conceptual}}}</div>

{{#children}}
{{#inField}}

<h2>Fields</h2>
<table>
  <tr>
    <th>Value</th>
    <th>Description</th>
  </tr>
  {{>partials/enum.fields}}
</table>

{{/inField}}
{{/children}}

{{/isEnum}}

{{/_splitReference}}