[submodule "docfx-tools"]
	path = docfx-tools
	url = https://github.com/bonsai-rx/docfx-tools
[submodule "docs/bonsai"]
	path = docs/bonsai
	url = https://github.com/bonsai-rx/docfx-tools
[submodule "src/onix-refactor"]
	path = src/onix-refactor
	url = https://github.com/neurogears/onix-refactor.git
