@import "workflow.css";

.quick-links > .table-responsive > table.table.table-bordered.table-condensed {
  border: 0px hidden transparent;
}

/* .inputs-and-outputs > .table {
  border: 0px hidden transparent;
  table-layout: fixed;
}

.inputs-and-outputs > .table > .thead, tbody, tfoot, tr, td, th {
  border: 0px hidden transparent;
  margin: 0;
  padding: 0;
} */
