{
  "DocumentationFiles": {
    "src": [
      "articles"
    ],
    "Files": [
      "**/*.md"
    ],
    "Exclude": []
  },
  "ResourceFolderNames": [
    "images"
  ],
  "DocLinkChecker": {
    "RelativeLinkStrategy": "All",
    "CheckForOrphanedResources": true,
    "CleanupOrphanedResources": false,
    "ValidatePipeTableFormatting": true,
    "ValidateExternalLinks": true,
    "ConcurrencyLevel": 5,
    "MaxHttpRedirects": 20,
    "ExternalLinkDurationWarning": 3000,
    "WhitelistUrls": [
      "http://localhost"
    ]
  }
}
