{
  "DocumentationFiles": {
    "src": ".",
    "Files": [
      "**/*.md",
      "*.md"
    ],
    "Exclude": [
      "_site/*",
      ".bonsai/*",
      "src/*"
    ]
  },
  "ResourceFolderNames": [
  ],
  "DocLinkChecker": {
    "RelativeLinkStrategy": "All",
    "CheckForOrphanedResources": true,
    "CleanupOrphanedResources": false,
    "ValidatePipeTableFormatting": true,
    "ValidateExternalLinks": true,
    "ConcurrencyLevel": 5,
    "MaxHttpRedirects": 20,
    "ExternalLinkDurationWarning": 3000,
    "WhitelistUrls": [
      "http://localhost"
    ]
  }
}
